<table>
  <tbody>
    <tr>
      <th>Helpdesk domain</th>
      <td>
        <input type="text" id="settings_helpdesk_domain" 
                           value="<%= settings['helpdesk_domain'] %>" 
                           name="settings[helpdesk_domain]" >
      </td>
    </tr>
  </tbody>
</table>